<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	 version="3.1">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <servlet>
        <servlet-name>LoginServlet.java</servlet-name>
        <jsp-file>/LOGINpage.jsp</jsp-file>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginServlet.java</servlet-name>
        <url-pattern>/</url-pattern> 
    </servlet-mapping>
    
    <servlet>
        <servlet-name>inventoryServlet</servlet-name>
        <servlet-class>servlet.inventoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inventoryServlet</servlet-name>
        <url-pattern>/inventoryServlet</url-pattern>
    </servlet-mapping>
    
</web-app>
